<% if logged_in? %>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <%= render "plans/plans" %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center ">
      <h1>ようこそ旅作りへ</h1>
      
      <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %> <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %> 
    </div>
  </div>
<% end %>
