<div class="text-center">
    <h1>プラン一覧</h1>
</div>

<% if @plans.any? %>
  <table class="table table-bordered">
    <tr>
      <th>id</th>
      <th class="text-center">タイトル</th>
    </tr>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= link_to plan.id, plan_schedules_path(plan) %></td>
        <td class="text-center"><%= plan.title %></td>
      </tr>
    <% end %>
  </table>
  <div>
    <%= paginate @plans %>
  </div>
<% end %>

<%= link_to "プラン作成", new_plan_path, class: "btn btn-primary btn-lg" %>